{% extends "base.html"%}

{% block content %}

<form action={% url 'search' %} method="post"  style="margin: 100 px;">
    {% csrf_token %}
    <div class="form-group">
        <label for="taskname" class="control-label col-sm-2">Search Task:</label>
        <div class="col-sm-6">
            <input type="text" id="firstname" name="taskname" placeholder="Enter word related to task e.g Flask" class="form-control">
        </div>
        <div class="sm-col-2">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
        <div class="sm-col-2">
            <a href="{% url 'table'  %}" class="btn btn-default ">Home</a>
        </div>
    </div>

   
</form>


   {% if searched_data %}
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Task ID</th>
        <th>Task Name</th>
        <th>Deadline</th>
        <th>IS Complete</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="rows">
        {% for item in tasks %}

        <TR>
           
           <TD class="c2">{{item.id}}</TD>
           <TD class="c3">{{item.taskname}}</TD>
           <TD class="c4"><SPAN>{{item.enddate}}</SPAN></TD>
           {% if item.iscomplete %}
                <TD class="c5"><SPAN>Yes</SPAN></TD>
            {% else %}
            <TD class="c5"><SPAN>No</SPAN></TD>
            {% endif %}
            <td><a href="{% url 'changestatus' id=item.id %}" class="btn btn-default pull-right">Done</a></td>
            <td><a href="{% url 'update' id=item.id %}" class="btn btn-default pull-right">Edit</a></td>
            <td><a href="{% url 'delete' id=item.id %}" class="btn btn-default pull-right">Delete</a></td>

        </TR>
        {% endfor %}
  </table>  
   {%else %}
  {%endif %}

  {% endblock %}
